runpod
torch
torchvision
transformers>=4.33.0  # Ensure you have a compatible version for Qwen-VL
sentencepiece
accelerate
bitsandbytes
protobuf==3.20.*
Pillow
python-dotenv
tiktoken
einops
